.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.rounded-circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.list-group-item {
background : rgb(235, 235, 235);
}
